<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body body--theme">
	<header class="header">
		<div class="wrapper">
			<div class="header__info-block">

			</div>
		</div>
	</header>
	<main class="main">
		<section class="wrapper">
			

		</section>
	</main>

	<footer class="footer">
		<div class="wrapper footer__wrapper">
			<div class="footer__rights">
				Copyright © 2018 - All Rights Reserved
			</div>
			<div class="footer__disigned-by">
				Template by Buccaneer
			</div>

		</div>
	</footer>
</body>
</html>
